.main {
  height: 750px;
  background: url("../images/bg1.png") center center no-repeat;
  color: white;
}

.header-search{
  float: right;
  width: 20px;
  height: 20px;
  background: url("../images/seaech.png") center / 100%  no-repeat;
  transform: translate(-60px, 40px);
  cursor: pointer;
}

.main .content {
  padding-left: 100px;
}

.main h3 {
  font-size: 50px;
  line-height: 60px;
}

.main .tips {
  width: 560px;
  margin: 50px 0 60px;
  font-size: 16px;
  line-height: 25px;
}

.main .call {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
  height: 50px;
  font-size: 20px;
  color: white;
  background: #215283;
}

.main .call .icon {
  width: 22px;
  height: 22px;
  background: url("/images/tel.png") center /22px no-repeat;
}


.about {
  height: 425px;
  background: white;
}

.about .content {
  display: flex;
  align-items: center;
  height: 240px;
  padding: 65px 100px;
  background: #215283;
  transform: translateY(-50%);
}

.about .content .title {
  flex: 1;
}

.about .content .tips {
  width: 660px;
  font-size: 16px;
  line-height: 30px;
  color: white;
}

.our {
  height: 660px;
  background: #f5f6fa;
}

.our .content {
  display: flex;
  padding-top: 155px;
}

.our .flex-box {
  flex: 1;
  display: flex;
  justify-content: end;
  transform: translateY(-355px);
}

.our .box {
  width: 400px;
  height: 660px;
  margin-left: 20px;
  background: #215283;
  font-size: 0;
}

.our .box-image {
  width: 100%;
}

.our .box-info-wrap{
  padding: 63px 40px 0;
}

.our .box-info{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-size: 30px;
  color: #FFA700;
  border-bottom: 1px solid #FFA700;
}

.our .box .tips{
  font-size: 16px;
  color: #F2F3F2;
  line-height: 30px;
}

.contact {
  height: 720px;
  background: url("/images/bg2.png") center / 100% no-repeat;
}

.contact .content{
  display: flex;
  justify-content: center;
  padding-top: 100px;
  text-align: center;
}

.contact-info-wrap{
  max-width: 1920px;
  margin: 0 auto;
  padding-left: 360px;
  transform: translateY(100px);
}

.contact-info-wrap .info-list{
  display: flex;
  align-items: center;
  padding-left: 134px;
  background: white;
  height: 300px;
}

.contact-info-wrap .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 110px;
  height: 90px;
  font-size: 18px;
  color: #333333;
  line-height: 30px;
}

.contact-info-wrap .info:nth-child(1) {
  background: url("/images/telephone@2x.png") left center / 90px no-repeat;
}

.contact-info-wrap .info:nth-child(2) {
  background: url("/images/email.png") left center / 90px no-repeat;
}

.contact-info-wrap .info:nth-child(3) {
  background: url("/images/address.png") left center / 90px no-repeat;
}

.info .s-title{
  font-size: 30px;
  font-weight: bold;
  color: #215283;
  line-height: 60px;
}

.contact-info-wrap #address{
  width: 100%;
  height: 300px;
}


.career {
  height: 885px;
  background: white;
}

.career .content{
  padding-top: 400px;
  display: flex;
}


.arrow{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 25px;
  background: url("/images/arrow-right-yellow.png") center / 100% no-repeat;
}

.arrow2-yellow {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("/images/arrow2-right-yellow.png") center / 100% no-repeat;
}

.arrow2-blue {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("/images/arrow2-right-blue.png") center / 100% no-repeat;
}

.title {
  font-size: 50px;
}
